<article class="py-8" itemscope itemtype="http://schema.org/BlogPosting">
{% for block in section.blocks %}
    {% case block.type %}
        {% when 'article_title' %}
          <div class="flex justify-center items-center">
            <div class="max-w-7xl text-center">
              <a href="{{ blog.url }}" class="text-base uppercase text-gray-500 hover:text-gray-800 font-bold">{{ blog.title }}</a>
               <h2 class="text-4xl md:text-6xl font-medium" itemprop="headline">{{ article.title }}</h2>
            </div>
          </div>

           {% when 'article_author' %}
            <div class="flex items-center justify-center">
              <div class="max-w-7xl text-center" itemscope itemtype="http://schema.org/Person">
                 {% if section.settings.author %}
                <small itemprop="author">{{ article.author }}</small>
            {% endif %}
              </div>
            </div>

             {% when 'article_date_publish' %}
              <div class="flex items-center justify-center">
              <div class="max-w-7xl text-center">
            {% if section.settings.datetime %}
                <time itemprop="datePublished dateCreated" datetime="{{ article.published_at |date: '%Y-%m-%d' }}">{{ article.published_at |date: format: 'on_date'}}</time>
                {% comment %} <time datetime="{{ article.created_at |date: '%Y-%m-%d' }}">{{ article.created_at |date: format: 'on_date' }}</time> {% endcomment %}
            {% endif %}
              </div>
            </div>

           {% when 'article_image' %}
            <div itemprop="image" class="max-w-7xl bg-blue-100 rounded-lg mx-2 md:mx-auto overflow-hidden">
              {% if article.image != blank %}
              <img class="w-full h-80 md:h-96 object-cover object-center my-4 p-5" src="{{ article.image | image_url: width: 700}}" 
                     alt="{{ article.image.alt }}" 
                     width="{{ article.image.width }}" 
                     height="{{ article.image.height }}">
              {% else %}
                {% assign placeholder_image = 'lifestyle-2' %}
                {{ placeholder_image | placeholder_svg_tag: 'w-full h-80 md-h-96 object-cover p-5' }}
              {% endif %}
              </div>
            {% when 'article_content' %}
              <div class="flex items-center justify-center">
                <div itemprop="articleBody" class="max-w-5xl text-center px-4">
                  <p>{{ article.content }}</p>
                </div>
              </div>

        {% else %}
            
    {% endcase %}
{% endfor %}

</article>

{% if blog.comments_enabled?  %}
  <div id="comments" class="my-8">
    {% if article.comments_count > 0 %}
      <div class="flex-1 items-center justify-center mx-auto max-w-4xl px-4">
        <h1 class="text-lg mb-4 font-medium">See what people are saying</h1>
          {%  paginate article.comments by 2 %}
            {% for comment in article.comments%}
              <div class="flex-1 border my-4 px-4 py-2 sm:px-6 rounded-2xl sm:py-4 leading-relaxed">
                <span class="comment-author">{{ comment.author }}</span> 
                <span class="text-xs text-gray-400">{{ comment.created_at | date: format: 'default' }}</span>
                <p class="text-sm">{{ comment.content }}</p>
              </div>
              
            {% endfor %}

           <div class="max-w-6xl mx-auto">
            {% render 'pagination', pagination: paginate %}
           </div>


          {% endpaginate %}
      </div>
      {% else %}
        <div class="flex items-center justify-center w-max-7xl py-4 font-semibold text-3xl text-gray-300">
          There are no comments in this article
        </div>

      
    {% endif %}
  </div>


  <div id="comment_form" class="mb-8">
    {% form 'new_comment', article %}
      <div class="flex-1 mx-auto items-center justify-center max-w-4xl px-4">

        {% if form.errors %}
          <div class="border p-5">
            <div class="flex flex-row items-center w-full my-3">
              <div class="text-red-500">
                {% render 'icon-failed' %}
              </div>
              <div class="text-sm font-medium ml-3">
                Oh no! Your comment was not Posted.
              </div>
            </div>
            <ul class="px-4 mb-3 ml-7 list-decimal">
              {% for error in form.errors %}
                <li>
                  <span>{{ form.errors.messages[error] }}</span>
                </li>
                
              {% endfor %}
            </ul>
          </div>
          
        {% elsif form.posted_successfully? %}
            <div class="flex flex-row items-center w-full my-3 p-5">
              <div class="text-green-500">
                {% render 'icon-success' %}
              </div>
              <div class="text-sm font-medium ml-3">
                Your comment was posted successfully.
              </div>
            </div>
          
        {% endif %}



        <div class="px-1 md:flex mb-3">
          <div class="px-3 md:w-1/2">
            <label for="comment_author" class="text-gray-700 font-medium-uppercase text-xs mb-2 ">Name</label>
            <input
              type="text"
              name="comment[author]"
              id="comment_author"
              class="w-full text-gray-700 border py-3 px-4 mb-3 focus:outline-none rounded-2xl"
              placeholder="jone Doe"
              required
            >
          </div>

          <div class="px-3 md:w-1/2">
            <label for="comment_email" class="text-gray-700 font-medium-uppercase text-xs mb-2 ">Email</label>
            <input
              type="email"
              name="comment[email]"
              id="comment_email"
              class="w-full text-gray-700 border py-3 px-4 mb-3 focus:outline-none rounded-2xl"
              placeholder="jone@example.com"
              required
            >
          </div>
        </div>

        <div class="px-1 md:flex mb-3">
          <div class="md:w-full px-3">
            <label for="comment_content" class="text-gray-700 font-medium-uppercase text-xs mb-2">Comment</label>
            <textarea
              name="comment[body]"
              id="comment_content"
              class="w-full text-gray-700 resize-none h-20 border py-2 px-3 mb-3 focus:outline-none rounded-2xl"
              placeholder="Write your comment here..."
              required
            ></textarea>
          </div>
        </div>

        <div class="px-1 md:flex mb-3">
          <div class="md:w-full px-3">
            <input type="submit" class="w-full cursor-pointer px-4 py-2 border rounded-2xl text-base font-medium text-white bg-gray-900 hover:gray-500" value="Post">
          </div>
        </div>


      </div>
    {% endform %}
  </div>

{% endif %}



<script type="application/ld+json">
 { 
  "@context": "http://schema.org",
  "@type": "BlogPosting",
  "headline": {{ article.title | json }},  
  "articleBody": {{ article.content | strip_html | json }},
  {% if article.excerpt != blank %}
    "description": {{ article.excerpt | strip_html | json }},
  {% endif %}
  {% if article.image %}
    "image": [
      {{ article.image | img_url: 'medium' | prepend: 'https:' | json }} 
    ],
    {% endif %}
    "datePublished": {{ article.published_at | date:format: 'default' | json}},
    "dateCreated": {{ article.created_at | date:format: 'default' | json}},

    "author": {
      "@type": "Person",
      "name": {{ article.author | json }}
    },
    "publisher": {
      "@type": "Organization",
      "name": {{ shop.name | json }}
    }
}

</script>  

   

{% schema %}
    {
        "name": "Tempalte Article",
        "settings": [
            {
            "type": "checkbox",
            "id": "author",
            "label": "Author Name",
            "default":true
            },
            {
            "type": "checkbox",
            "label": "Show Time",
            "id": "datetime",
            "default":true
            }
        ],
        "blocks": [
            {
            "type": "article_title",
            "name":"Title",
            "limit":1
            },
             {
            "type": "article_author",
            "name":"Author Name",
            "limit":1
            },
             {
            "type": "article_date_publish",
            "name":"Publish Date",
            "limit":1
            },
             {
            "type": "article_image",
            "name":"Images",
            "limit":2
            },
             {
            "type": "article_content",
            "name":"Content",
            "limit":1
            }
        ]
    }
{% endschema %}