<div class="py-8">
{% paginate blog.articles by section.settings.number_of_blog %}

    <h1 class="text-center text-3xl">{{ blog.title }}</h1>

    <div class="grid grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-3 p-4">
        {% for article in blog.articles %}
              <a href="{{ article.url }}">
            <div class="relative bg-white/20  shadow-md shadow-black/50 rounded-2xl overflow-hidden ">
                <div class="absolute inset-0 bg-transparent hover:bg-black/20"></div>
              
                    <div class="flex justify-center items-center h-72 overflow-y-hidden w-full ">
                {% if article.image != blank %}
                        <img src="{{ article.image | image_url: width: 500, height: 500 }}" 
                        alt="{{ article.image.alt }}" 
                        width="200" 
                        height="160"
                        class="bg-cover w-full"    >

                    {% else %}
                        {{ 'image' | placeholder_svg_tag: 'w-20' }}
                    {% endif %}  
                </div>
                <div class="p-5 mt-2">
                   <h1 class="text-lg md:text-xl text-center font-bold border-b-2 p-1">{{ article.title | upcase }}</h1>
        
                   {% if article.excerpt.size >0 %}
                        <p>{{ article.content | strip_html | truncatewords:20}}</p>
                    {% else %}
                        <p>{{ article.content | strip_html | truncatewords:20}}</p>
                   {% endif %}
                   
                   <span  class="font-medium text-blue-600 hover:text-blue-800 p-5  text-center">{{ section.settings.blog_read_more }}</span>
               </div>
            </div>
        </a>
        {% endfor %}
    </div>
    <div class="max-w-6xl mx-auto">
        {% render 'pagination', pagination: paginate %}
    </div>
{% endpaginate %}
</div>

{% schema %}
    {
        "name": "Blog",
        "settings": [
            {
                "type": "text",
                "id": "blog_read_more",
                "label": "Read more",
                "default": "Read more"
            },
            {
            "type": "range",
            "id": "number_of_blog",
            "label": "Number of Blog In page",
            "min": 1,
            "max": 6,
            "default":2,
            "step": 1
            }
        ]
    }
{% endschema %}